@import './src/variables.scss';

.loggedout-header {
  background-color: #D36582;
  color: #00072D;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 45px;
    margin: 0px;
  }
}