@import './src/variables.scss';

.welcome-container {
  align-items: center;
  background-color: #253C78;
  display: flex;
  justify-content: center;

  div {
    background-color: #A6E1FA;
    border-radius: 10px;
    height: 32vh;
    padding: 10px;
    text-align: center;
    width: 57vw;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  input {
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    margin: 10px 5px 5px 5px;
  }

}